.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log

# we're using PNPM here, so we can ignore these files
package-lock.json
yarn.lock
.env
storybook-static
.storybook

# may not be useful and cumbersome when moving from branch to branch
auto-imports.d.ts
components.d.ts

# used for rollup-plugin-visualizer
stats.html
