.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log

# we're using PNPM here, so we can ignore these files
package-lock.json
yarn.lock
.env
storybook-static
.storybook
